/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


#define BASE 0
#define MODLAYER 1
#define SHIFTLAYER 2
#define NAVLAYER 3

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

#include "includes/custom_keycodes.dtsi"
#include "includes/settings.dtsi"
#include "includes/behaviours_homerow_mods.dtsi"

/ {
        keymap {
                compatible = "zmk,keymap";

Base_layer {
      label = "Base";
      bindings = <
&kp ESC   &kp Q          &kp W         &kp E         &kp R                &kp T            &kp Y            &kp U                &kp I         &kp O         &kp P           &kp ESC
&kp BSPC  &hm_l LGUI A  &hm_l LALT S  &hm_l LCTRL D  &hm_shift_l LSHFT F  &lt MODLAYER G   &lt MODLAYER H   &hm_shift_r RSHFT J  &hm_r RCTRL K &hm_r RALT L  &hm_r RGUI SEMI &kp DEL 
&mo NAVLAYER     &kp Z          &kp X         &kp C         &kp V                &lt SHIFTLAYER B &lt SHIFTLAYER N &kp M                &kp COMMA     &kp DOT       &kp SLASH       &mo NAVLAYER
                                       &kp TAB       &kp SPACE            &kp ENTER        &kp ENTER        &kp SPACE            &kp TAB
      >;
    };


Mod_layer {
      label = "Mod";
      bindings = <
&kp GRAVE &kp N1 &kp N2   &kp N3   &kp N4   &kp N5 &kp N6 &kp N7   &kp N8   &kp N9   &kp N0 &kp MINUS 
&trans    &trans &trans   &trans   &trans   &trans &trans &trans   &trans   &trans   &trans &kp EQUAL 
&trans    &kp LT &kp LBKT &kp LBRC &kp LPAR &trans &trans &kp RPAR &kp RBRC &kp RBKT &kp GT &kp BSLH 
                     &trans &trans &trans &trans &trans &trans 
      >;
    };



Shift_layer {
      label = "Shift";
      bindings = <
&kp TILDE &kp EXCL &kp AT   &kp POUND   &kp DOLLAR   &kp PERCENT &kp CARET &kp AMPS   &kp STAR   &kp UNDER   &kp PLUS &kp MINUS 
&trans    &trans &trans   &trans   &trans   &trans &trans &trans   &trans   &trans   &trans &kp EQUAL 
&trans    &kp LT &kp LBKT &kp LBRC &kp LPAR &trans &trans &kp RPAR &kp RBRC &kp RBKT &kp GT &kp BSLH 
                     &trans &trans &trans &trans &trans &trans 
      >;
    };



Nav_layer {
      label = "Nav";
      bindings = <
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans 
&trans &kp LEFT &kp UP &kp DOWN &kp RIGHT &trans &trans &kp LEFT &kp UP &kp DOWN &kp RIGHT &trans 
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans 
                     &trans &trans &trans &trans &trans &trans 
      >;
    };


  };
};
